.main{
  height: 100vh;
  
}

.body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.content{ 
  width: 50%;
  height: 60%;
  background-color: ghostwhite;
  /*border: 20px solid grey;*/
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;

}

.user_name{

}

.play_btn{

}

.cancel_btn{


}