.room_main{
  background-color: rgb(158, 17, 17);
  color:white;
  height: 100vh;

}

.lobby_wrapper{
  height: 95%;
  display: flex;
  justify-content: space-around;

}

.players_wrapper{
  width: 23%;
  display: flex;
  flex-direction: column;
  /*display: grid;
  justify-items: stretch;
  align-items: start;
  grid-template-columns: 100%;
  grid-template-rows: 20%;*/
}

.user_item{
  border: white 1px solid;
  height: 20px;
}

.players_wrapper,
.chat_wrapper,
.games_wrapper{
  
  position: relative;
  margin-top: 35px;
  border: 25px solid white;
  background-color: black;
  border-image: url('../assets/img/aside/border.jpg') 75/ 25px / 10px round;
  box-shadow: 25px 25px 30px black;
 /* border: 10px solid white;
  border-image: linear-gradient(#a1a1a1, #d41919) 10;*/
}

.chat_wrapper{
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.badge{
  position: absolute;
  top:-30px;
  left: calc( 50% - 75px);
  width: 150px;
  height: 45px;
  background: url('../assets/img/border/frame1.png') no-repeat 0 0/contain;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 45px;
  box-shadow: 0px 5px 7px #666;
  z-index: 5;
}

.badge_games, 
.badge_players{  
}

.chat{
  width: 100%;
  height: 300px;
  border-bottom: 1px solid white;
}

.chat_msg{
  color: #d41919;
  font-weight: 500;
}
.system_msg{
 
}

.input_chat{

}

.games_wrapper{
  width: 23%;
}
.games{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}

.box_games{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 100%;
  overflow-y: hidden;
}

.wrapper_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.btn_map,
.btn_register, 
.btn_spectator,
.btn_close,
.btn_game{
  width: 70%;
  background: url('../assets/img/aside/fon-metall.jpg') no-repeat 0 0/cover;
  cursor: pointer;
  border: 1 solid #666 ;
  box-shadow: 0px 3px 7px #666;
  transition: 0.3s;
}

.btn_game{
  margin-bottom: 10px;
}

.btn_map{
  width: 40%;
}

.btn_map:hover,
.btn_register:hover, 
.btn_spectator:hover,
.btn_close:hover,
.btn_game:hover{
  filter: brightness(2);
  transform: scale(1.05);
  transition: 0.3s;
}

.game_wrapper{
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 1s;
}


.hide{
  transform: rotateY(90deg);
  transition: 1s;

}



