.main_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 500ms;
  background-color: #000;
}

.hide_main_wrapper{
  top: -100%;
  transition: 0.5s;
}

.hide{
  left: 100%;
}

.settings_wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}

.basic_settings_wrapper, 
.map_wrapper,
.players_wrapper,
.info_wrapper{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  border: 1px #fff solid;
  padding: 10px;
  gap:10px;
}

.item_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

.input_settings{
  height: 20px;
  margin: 0 20px;
  color: #000;
  font-size: 14px;
}
/*
.map_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}*/

.players_wrapper{
  width: 50%;
  border: 1px #fff solid;
}

.players_area, 
.info_area{
  width: 100%;
  height: 100%;
  
}
.map_slider{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
.image_map{ 
 width: 100%;
 height: 100%;  
/* transform: scale(1);*/
 opacity: 100%;
 transition-duration: 0.5s;
}


.image_map img{
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.name_map{
  position: absolute;
  left: 50%;
  top: 90%;
  background-color: rgba(0, 0, 0, 0.2);
  color: aliceblue;
}
/*
.map_select_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.map_label,
.map_select{
  height: 25px;
  margin: 10px;
}
*/
.next_slider_button,
.prev_slider_button{
  position: absolute;
  top:50%;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
  font-size: 24px;
}
.next_slider_button{
  left: 90%;
  
}

.prev_slider_button{
  left:10%
}





.buttons_wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 50px;
  margin: 10px;
}
